
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'OutwardBorders';
    src: url('fonts/outward-borders.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outwardblock';
    src: url('fonts/outward-block.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

 summary {
    font-family: font-family: bitcount-mono-single-circle, sans-serif;
    
    font-weight: normal;
    font-style: normal;
}


 h6 {
    font-family: "bitcount-mono-single-line-sq", sans-serif;
font-weight: normal;
font-style: normal;
}

html, body {
    height: 100%;
    background: black;
}

body {
    font-family: sans-serif;
    margin: 20px 150px;
    color: white;
}
.side-shape {
    position: fixed;
    top: 0;
    height: 80vh;
    width: auto;
    z-index: -1;
    pointer-events: none;
}

.left { left: 0; }
.right { right: 0; }

h1 {
 font-family: 'OutwardBorders', serif;
    font-size: 225pt;
    color: blue;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-family: 'OutwardBorders', serif;
    font-size:45pt;
    color: white;
    margin-top: 10px;
    margin-bottom: 80px;
    text-align: center;
}

h3 {
    font-family: sans-serif;
    font-size: 10pt;
    color: red;
    text-align: center;
}

h5 {
    font-family: sans-serif;
    font-size: 15pt;
    color: blue;
    text-align: left;
    margin-top: 16px;
}

summary {
    font-family: "bitcount-mono-single-circle", sans-serif;
    font-size: 8pt; 
    color: greenyellow;
    text-align: left;
    margin-top: 24px;
}


h6 {
    font-family: "bitcount-mono-single-line-sq", sans-serif;
    font-size: 20pt; 
    color: red;
    text-align: left;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 8px;
}

p {
    line-height: 1.8;
    margin-top: 12px;
}

li {
    font-family: sans-serif;
    font-size: 10pt;
    color: ghostwhite;
    list-style: none;
    line-height: 1.6;
}

hr {
    border: none;
    border-top: 1px solid greenyellow;
    margin: 12px 0 8px;
}

.short-line {
  width: 100px;
  border: 0;
  border-top: 1px solid yellowgreen; 
  margin: 50px 0; 
}


a {
    color: yellowgreen;        
    text-decoration: none;
    font-family: "bitcount-mono-single-circle", sans-serif;
    font-size: 10pt; 
   
    text-align: left;
    margin-top: 24px;
}


a:visited {
    color: yellowgreen; 
    text-decoration: none;
    font-family: "bitcount-mono-single-circle", sans-serif;
    font-size: 13pt; 
    text-align: left;
    margin-top: 24px;
}


a:hover {
    color: cyan;       
    text-decoration: none;
    font-family: "bitcount-mono-single-circle", sans-serif;
    font-size: 13pt; 

    text-align: left;
    margin-top: 24px;
}

a:active {
  color: yellowgreen; 
    text-decoration: none;
    font-family: "bitcount-mono-single-circle", sans-serif;
    font-size: 13pt; 
   
    text-align: left;
    margin-top: 24px;
}

.wrapper {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 20px;
}

.left {
    flex: 1;
    min-width: 0;
}


.right {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.right img {
    display: block;
    max-width: 400px; 
    width: 100%;
    height: auto;
}


table, th, tr, td {
    border: 1px white solid;
    border-collapse: collapse;
    color: whitesmoke;
}


button {
    background-color: yellow;
    border: 2px solid white;
}

button:hover {
    background-color: red;
}

@media screen and (max-width: 704px) {
    body {
        margin: 16px;
    }

    .wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .right {
        justify-content: flex-start;
    }

    .right img {
        max-width: 100%;
    }
}


